<div class="container-fluid main-container">

    <h2>Blogs</h2>
      <!-- <div class="row" [@activeState]="isActive"> *ngIf="!loading">  (album$ | async)?.images-->
        <div class="row" >
        <div class="col-sm-6 col-md-4 card" *ngFor="let blog of (blogs$ | async)">

          <div class="crop" >
            <a [routerLink]="['/blog', blog._id]" (click)="onBlogSelected(blog._id)">
              <img class="bg-cover" src="http://img.youtube.com/vi/{{blog?.vidUrl}}/0.jpg" alt="" >
            </a>
          </div>

            <div class="card-block">
              <h4 class="card-title">{{blog.title}}</h4>
              <p class="card-text">{{blog.script}}</p>
              <a [routerLink]="['/blog', blog._id]">More..</a>
            </div>

        </div>
    </div>
</div>
